# Set DOMAIN to the DNS name pointing to this Droplet.
DOMAIN=example.com

# Generate a new key with: openssl rand -hex 32
SECRET_KEY=
DEBUG=False
ALLOWED_HOSTS=example.com
CSRF_TRUSTED_ORIGINS=https://example.com

# Generate POSTGRES_PASSWORD with: openssl rand -hex 24
POSTGRES_DB=sap_business_one
POSTGRES_USER=sap_business_one
POSTGRES_PASSWORD=
DB_SSL_REQUIRE=False
